{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registrar Ingreso</title>
    <link rel="stylesheet" href="{% static 'inventario/registrar_ingreso.css' %}">
</head>
<body>
    <div class="registrar-ingreso-container">
        <h1>Registrar ingreso de {{ producto.nombre_producto }}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="cantidad">Cantidad a ingresar:</label>
            <input type="number" name="cantidad" id="cantidad" min="1" required>
            <button type="submit">Registrar ingreso</button>
        </form>
        <a href="{% url 'detalle_producto' producto.id_producto %}">Volver al detalle</a>
    </div>
</body>
</html>