<!DOCTYPE html>
<html>
<head>
    <title>Reporte de Inventario</title>
</head>
<body>
    <h1>Reporte de Inventario</h1>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.nombre_producto }}</td>
            <td>{{ producto.id_categoria.nombre_categoria }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'ver_inventario' %}">Volver al inventario</a>
</body>
</html>